{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static 'assets/img/login.png' %}" alt="Logo">
                </div>
                <div class="login-right">

                    <div class="login-right-wrap">
                        <h1>Forgot Password</h1>
                        <p class="account-subtitle">Enter Your Email For Forgot Password</p>
                        <h2>
                        
                        </h2>

                        <form method="post" action="{% url 'forgot_password_page' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label> Email <span class="login-danger">*</span></label>
                                <input class="form-control pass-input" type="email" name="email" required>
                                <span class="profile-views toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                            </div>
                        </form>
                        <div class="row">
                            <div class="form-group mb-0 col-6">
                                <a href="{% url 'signin_page' %}">  <button class="btn btn-outline-primary primary-reset btn-block" type="submit"> Signin</button></a>
                            </div>
                            <div class="form-group mb-0 col-6">
                                <a href="{% url 'signup_page' %}"> <button class="btn btn-outline-primary primary-reset btn-block" type="submit">Signup</button></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}